:root {
	--bg-color-main:  #f7f7f7;
	--bg-color-fullscreen-image-view: #fefef877;
	--bg-color-header: #fefef8aa;
	--bg-color-main: #fefef8ee;
	--bg-color-footer: #fefef866;
	--bg-color-menu-active: #fefef8aa;
	
	
	--margin-between-main-content-parts: 2rem;
	--padding-betwen-content-and-content-boarders: 8%;
	
	--font-size-small-header: 1.2rem; 
	--font-size-main-text: 1rem;
	--font-size-smal-text: 0.85rem;
	--font-size-tiny-text: 0.75rem;
}

*, *::after, *::before {
 box-sizing: border-box;
}

html {
	font-size: 21px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

/* -----------------------------------------------*/

body {
	width: 100%;
	height: 100vh;
	margin: 0
	background-color: var(--main-bg-color);
}

h1 {
	font-weight: bold;
	margin-bottom: var(--margin-between-main-content-parts);
	font-size: var(--font-size-small-header);
}

h2 {
	font-weight: bold;
	margin-bottom: var(--margin-between-main-content-parts);
	font-size: var(--font-size-main-text);
}

p {
	margin-bottom: var(--margin-between-main-content-parts);
}

p:target {
	 border: 0.1vw solid black;
	 padding: 1vw;
}

img {
	max-width: 100%;
}

a {
	color: black;
}		

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}


/* ------------------------------------------------- */

#page-content-placment {
	height: 100vh;
	display: flex;
	justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

#page-content-layout {
	position: relative;
	font-style: normal;
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: var(--font-size-main-text);
	line-height: 1.6;
	word-spacing: 0.10rem;
	z-index: 0;
	width: 70vw;
	max-width: 100%;
	top: 30%;
}

@media only screen and (max-width: 550px) {
	#page-content-layout { width: 100vw; }	
}


.content-section {
	position: relative;
	padding: var(--padding-betwen-content-and-content-boarders);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	margin: 0;
}

/* header */

#header-container {
	position: relative;
	background-color: var(--bg-color-header);
}

#header-logo {

}

.logo-main {
	width: 45%;
	opacity: 80%;
}

.logo-sub{
	width: 30%;
	opacity: 60%;
}

#logo img {
	top: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* header menu */

#shortcut-to-menu {
	position: absolute;
	bottom: 1rem;
	right: 3rem;
	display: block;
	text-align: right; 
	margin: 0;
}

#shortcut-to-menu img{
	height: auto;
	width: 1rem;
	vertical-align:middle;
}

#shortcut-to-menu a {
	display: block;
	padding: 0.5rem;
	opacity: 0.3;
}

#shortcut-to-menu a:hover {
	opacity: 1;
}

/* main */

#story {
	background-color: var(--bg-color-main);
}

.story-image-container {
	margin-bottom: var(--margin-between-main-content-parts);
}

.story-image-container:target {
	 border: 0.1vw solid black;
	 padding: 1vw;
}

.story-image{
	width: 100%;
	height: auto;
	opacity: 1;
	cursor: zoom-in;
}

.story-image-caption {
	text-align: center;
	font-size: var(--font-size-smal-text);
}

.image-view-outer-frame {

}

/* spesial pages */

td {
	padding-right: 2vw;
	padding-bottom: 1em;
	vertical-align: top;
	text-align: left;
}

.table-date {
	padding-top: 0.2rem;
	padding-bottom: 1.5rem;
	font-size: var(--font-size-smal-text);
	white-space: nowrap;
}

a.external::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
  width: 1rem;
  height: 1rem;
}

.ref-at {
	font-size: var(--font-size-smal-text);
}

.ref-mark:target {
	border: 0.1vw solid black;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

.site-version {
	font-size: var(--font-size-smal-text);
	font-weight: bold;
}

.license-text {
	font-size: var(--font-size-smal-text);
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 2rem;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}	



.contact-form {
	width: 100%;
	height: 100%;
	
}

form {
	font-size: var(--font-size-main-text);
	
}

textarea {
	width: 100%;
	padding: 12px 20px;
	border-radius: 4px;
	border: 0px solid #ccc;
	resize: vertical;
	font-style: normal;
	font-family: Garmound, serif;
	font-size: var(--font-size-main-text);
}

input {
	font-style: normal;
	font-family: Garmound, serif;
	font-size: var(--font-size-main-text);
	border-radius: 4px;
	padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

button {
	font-style: normal;
	font-family: Garmound, serif;
	border-radius: 4px;
	padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  font-size: var(--font-size-main-text);
}

.form-error {
	display: none;
}

.error-msg {
	color: red;
}

/* navigatin next and past */

.continue-read {
	display: flex;
	width: 100%;
	margin-top: 2rem
}

.continue-read span {
	flex: 1;
}

.continue-backword {
	text-align: left;
	max-width: 50%;
}

.continue-forword {
	 text-align: right;
	 max-width:50%;
	 right: 1.5rem; 
}

.continue-read a {
	opacity: 0.3;
	padding: 0.5rem;
}
.continue-read a:hover {
	opacity: 1.0;
}

.continue-icon {
	height: 1.5rem;
	width: auto;
	vertical-align:middle;
}

/* footer */

#footer-container {
	font-size: var(--font-size-smal-text);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	min-height: 90vh;
	background-color: var(--bg-color-footer);
}

	/* menu */
	
	#menu ul {
		list-style-type: none;
		padding: 0;
	}

	#menu li {
		margin: 0.5rem 0.5rem 0.5rem 0rem;
	}

	#menu img {
		padding: 0.2rem 0.5rem 0.2rem 0rem;
		height: 1.5rem;
		width: auto;
		vertical-align: middle;
		opacity: 60%;
	}
	
	.menu-active-page {
		color: var(--menu-onsite-object-color);
		background-color: #00000066;
		padding: 0.3rem 0.6rem 0.5rem 0.5rem;
		margin: 0.2rem 0.2rem 1rem 0rem;
	}
	
	#menu ul a {
		padding: 0.3rem 0.6rem 0.5rem 0.5rem;
		margin: 0.2rem 0.2rem 0.2rem 0rem;
		/*background-color: var(--menu-link-bg-color);*/
	}
	
	#menu ul a:hover {
		background-color: var(--bg-color-menu-active);
	}
	
		/* Top and bottom menu */

		.menu-horizontal-bar li {
			display: inline-block;
			white-space: nowrap;
		}

		/* section menu */
		
		ul.menu-sections {
			width: 100%;
			border: 0.1vw solid rgba(0,0,0,0.6);
		}
		
		.menu-sections-header {
			padding: 0.3rem 0.6rem 0.5rem 0.5rem;
			margin: 0.2rem 0.2rem 0.2rem 0rem;
		}
		
		ul.menu-sections-columns {
			column-count: 3;
			column-fill: auto;
			column-gap: 0.5rem;
			height: 8rem;
			margin: 1rem;
		}
		
		.menu-sections-columns li {
			padding-bottom: 0.2rem;
		}

		.menu-section-button {
			padding: 0.3rem;
		}
		
		li.menu-section-button {
			
		}

		.menu-section-number {
			font-size: var(--font-size-tiny-text);
			padding-right: 0.3rem;
		}


	/* license */

	#link-to-license {
		position: absolute;
		right: 6vW;
		bottom: 1vw;
		text-align: right;
		font-size: var(--font-size-tiny-text);
	}


/* ------------------------------------------------- */

/* fullscreen view */

#fullscreen-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	/* background-color: var(--bg-color-fullscreen-image-view); */
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	max-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

.image-view-outer-frame {
	display: flex;
	height: 100vh;
 	justify-content: center;
    align-items: center;
}

.image-view-inner-frame {
	/* display: flex; */
 	justify-content: center;
    align-items: center;
    max-width: 100%;
    border: 2vw solid #ffffff;
    /*margin: 2vw;*/
    background-color: #ffffff;
}

/* background image */

#background-image-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow:hidden;
	z-index: -1;
}

#background-image {
	width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}
