
:root {
	--main-bg-color: #f7f7f7;
	--content-title-bg-color: #fefef8aa;
	--content-bg-color: #fefef8ee;
	--menu-bg-color: #fefef866;
	--menu-link-bg-color: #fefef833;
	--menu-activ-bg-color: #fefef833;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 2vW;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0
	background-color: var(--main-bg-color);
}

p {
	margin-bottom: 2em;
}

.backgroundImg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow:hidden;
	z-index: -1;
}

.backgroundImg img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.centered {
	height: 100vh;
	display: flex;
	justify-content: center;
    align-items: flex-start;
}

.content {
	position: relative;
	font-style: normal;
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 0.96em;
	line-height: 1.6;
	word-spacing: 0.10em;
	z-index: 0;
}

.content-width {
	width: 75%;
}

.top-space-mainpage {
	top: 30%;
}

.top-space-mainpage-b {
	padding-top: 30%;
}

.top-space-subpage {
	top: 30%;
}

.content-object {
	/*margin-bottom: 10%;*/
	padding: 6vw;
	position: relative;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	margin: 0;
}



h1 {
	font-family: 'Italianno', Garmound, serif;
	font-display: swap;
	margin: 0;
}

.h1-mainpage {
	font-size: 3em;
}

.h1-subpage {
	font-size: 2em;
}

h2 {
	font-weight: bold;
	margin-bottom: 2em;
}

.link-to-menu {
	position: absolute;
	bottom: 1em;
	display: block;
	text-align: right;
	right: 3em; 
	margin: 0;
}

.header-test {
	position: relative;
}

.link-to-menu-obj {
	display: block;
	opacity: 0.3;
	margin: 0;
	
}

.link-to-menu-obj:hover {
	opacity: 1.0;
}

.link-to-menu img{
	height: auto;
	width: 1em;
	vertical-align:middle;
}

.link-to-menu a {
	display: block;
}

.content-image {
	width: 100%;
	height: auto;
	margin-bottom: 2em;
}

.continue-read {
	display: flex;
	width: 100%;
	margin-top: 2em
}

.continue-read span {
	flex: 1;
}

.continue-backword {
	text-align: left;
	min-width: 50%;
	 opacity: 0.3;
}

.continue-backword:hover {
	opacity: 1.0;
}

.continue-backword a {
	padding: 0.5em;
}

.continue-forword {
	 text-align: right;
	 min-width:50%;
	 right: 1.5em; 
	 opacity: 0.3;
}

.continue-forword:hover {
	opacity: 1.0;
}

.continue-forword a {
	padding: 0.5em;
}

.continue-icon {
	height: 1.5em;
	width: auto;
	vertical-align:middle;
}




.menu-home {
	font-size: 1.5em;
	font-family: 'Italianno', Garmound, serif;
	font-display: swap;
}

.current-page {
	color: #fefef8;
	padding: 0.5em;
	background-color: var(--menu-activ-bg-color);
}

.menu-footer {
	font-size: 0.8em;
	min-height: 90vh;
	background-color: var(--menu-bg-color);
	font-family: Arial, Helvetica, sans-serif;
}

.menu-footer ul {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
}

.menu-vertical li {
	display: inline;
}

.menu-footer a {
	display: inline-block;
	padding: 0.5em;
}

.menu-content a {
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.menu-footer a:hover {
	background-color: var(--menu-link-bg-color);
}

.menu-object{
	margin-right: 1.7em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.meni-object-content {
	margin: 0.2em 0.5em 0.2em 0;
}

.menu-icon img {
	height: 1.5em;
	width: auto;
	vertical-align:middle;
}


ul.menu-content {
	width: 100%;
	padding: 1.5em;
	border: 0.1vw solid black;
}

li.menu-content-header {
	margin-bottom: 1.5em;
}


ul.menu-content-column {
	column-count: 3;
	column-fill: auto;
  	column-gap: 0.5em;
  	height: 8em;
  	margin: 0;
}

.seksjon-number {
	font-size: 0.6em;
}


.top {
	background-color: var(--content-title-bg-color);

}

.text2 {
	background-color: var(--content-bg-color);
}

.test:target {
	 border: 0.1vw solid black;
	 padding: 1vw;
}

.ref-mark:target {
	border: 0.1vw solid black;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

.ref-at {
	font-size: 0.7em;
	display: block;
}

.notis {
	border: 0.1vw solid Maroon;
	padding: 1vw;
	color: Maroon;
}

.license-text {
	font-size: 0.8em;
}

.license-link {
	position: absolute;
	right: 6vW;
	bottom: 1vw;
	text-align: right;
	font-size: 0.7em;
}


td {
	padding-right: 2vw;
	vertical-align: top;
	text-align: left;
}

.table-date {
	padding-top: 0.2em;
	font-size: 0.7em;
	white-space: nowrap;
}

.site-version {
	font-size: 0.7em;
	font-weight: bold;
	padding: 0.2em 0.2em 0.2em 0;
}



a {
	color: black;
}		

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

a:active {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

.ref-mark a:link {
	text-decoration: none;
}

.ref-mark a:visited {
	text-decoration: none;
}

.ref-mark a:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

.ref-mark a:active {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}
		
.text2 a:link {
  text-decoration-line: underline;
  text-decoration-color: #b6b6b2;
  text-decoration-style: solid;
}

.text2 a:visited {
  text-decoration-line: underline;
  text-decoration-color: #b6b6b2;
  text-decoration-style: solid;
}

.text2 a:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

.text2 a:active {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

a.external::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
  width: 1em;
  height: 1em;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}	



.contact-form {
	width: 100%;
	height: 100%;
	
}

form {
	font-size: 1em;
	
}

textarea {
	width: 100%;
	padding: 12px 20px;
	border-radius: 4px;
	border: 0px solid #ccc;
	resize: vertical;
	font-style: normal;
	font-family: Garmound, serif;
	font-size: 1em;
}

input {
	font-style: normal;
	font-family: Garmound, serif;
	font-size: 1em;
	border-radius: 4px;
	padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

button {
	font-style: normal;
	font-family: Garmound, serif;
	font-size: 1em;
	border-radius: 4px;
	padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

.form-error {
	display: none;
}

.error-msg {
	color: red;
}


@media only screen and (max-width: 510px) {

	.content-width {
		width: 100%;
	}
	
	html {
		font-size: 3.4vW;
	}
	
	.h1-mainpage {
		font-size: 3em;
	}

	.h1-subpage {
		font-size: 2em;
	}

}

@media only screen and (min-width: 510px) {

	.content-width {
		width: 90%;
	}
	
	html {
		font-size: 3vW;
	}
	
	.h1-mainpage {
		font-size: 3.1em;
	}

	.h1-subpage {
		font-size: 2.1em;
	}
}

@media only screen and (min-width: 700px) {

	.content-width {
		width: 85%;
	}
	
	html {
		font-size: 2.5vW;
	}
	
	.h1-mainpage {
		font-size: 3.2em;
	}

	.h1-subpage {
		font-size: 2.2em;
	}
}

@media only screen and (min-width: 900px) {

	.content-width {
		width: 80%;
	}
	
	html {
		font-size: 2vW;
	}
	
	.h1-mainpage {
		font-size: 3.3em;
	}

	.h1-subpage {
		font-size: 2.3em;
	}
}

@media only screen and (min-width: 1100px) {

	.content-width {
		width: 75%;
	}
	
	html {
		font-size: 1.8vW;
	}
	
	.h1-mainpage {
		font-size: 3.4em;
	}

	.h1-subpage {
		font-size: 2.4em;
	}
}



@media only screen and (min-width: 1350px) {

	.content-width {
		width: 70%;
	}
	
	html {
		font-size: 1.65vW;
	}
	
	.h1-mainpage {
		font-size: 3.5em;
	}

	.h1-subpage {
		font-size: 2.5em;
	}
}

@media only screen and (min-width: 1600px) {

	.content-width {
		width: 65%;
	}
	
	html {
		font-size: 1.5vW;
	}
	
	.h1-mainpage {
		font-size: 3.6em;
	}

	.h1-subpage {
		font-size: 2.6em;
	}
}

@media only screen and (min-width: 1900px) {

	.content-width {
		width: 60%;
	}
	
	html {
		font-size: 1.3vW;
	}
	
	.h1-mainpage {
		font-size: 3.7em;
	}

	.h1-subpage {
		font-size: 2.7em;
	}
}

@media only screen and (min-width: 2200px) {

	.content-width {
		width: 55%;
	}
	
	html {
		font-size: 1.25vW;
	}
	
	.h1-mainpage {
		font-size: 3.8em;
	}

	.h1-subpage {
		font-size: 2.8em;
	}
}





	